In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import math

import plotly.graph_objects as go
import plotly.express as px
import numpy as np
import statsmodels.api as sm

In [2]:
datadir = '../data/'

In [3]:
def _read_file(fname, enc='iso8859-8'):
    fd = open(fname, encoding=enc, errors='replace')
    df = pd.read_csv(fd, sep='|')
    return df

def add_model(df):
    df['model'] = df.apply(lambda x: '_'.join([x[y] for y in ['tozeret_cd', 'degem_cd', 'shnat_yitzur', 'sug_degem']]), axis=1)

def get_model_name(ns):
    names = pd.DataFrame(data={'model':ns})
    ret = pd.merge(names, models, how='left', on='model')[['tozeret_nm', 'kinuy_mishari']]
    return ret

In [130]:
def convert_make(df, oldcol='tozeret_nm', newcol='make'):
    # read dictionary
    filename=datadir + 'makes_dict.csv'

    with open(filename, 'r') as f:
        lines = f.readlines()

    make_dict = []
    for line in lines:
        line = line.strip()
        items = line.split(',', 1)
        itm = items[0].strip()
        if len(items) > 1:
            make_dict.append((itm, items[1].strip()))
        else:
            make_dict.append((itm, itm))
    
    newdat = df[oldcol].copy()
    for (m_in, m_out) in make_dict:
        newdat[newdat.str.startswith(m_in)] = m_out
    df[newcol] = newdat

In [5]:
def trade_category(d):
    oc = d['ownership_count']
    months = d['months_to_first_trade']
    if math.isnan(oc):
        return 'ללא'
    if (oc == 1) & (months == 0):
        return 'מקורי'
    if months < 12:
        return 'נמכר תוך שנה'
    return 'נמכר תוך יותר משנה'

In [68]:
# source : https://data.gov.il/dataset/private-and-commercial-vehicles

#df = pd.read_csv('data/rechev-small.csv', encoding='iso-8859-1', sep='|')

def read_file(fname):
    fname = datadir + fname
    df = _read_file(fname)

    for c in ['mispar_rechev', 'degem_cd', 'tozeret_cd', 'shnat_yitzur']:
        df[c] = df[c].astype(str)

    df['test']= pd.to_datetime(df.mivchan_acharon_dt)
    df['test_expiry']= pd.to_datetime(df.tokef_dt)
    df['year'] = df['shnat_yitzur'].astype(int)
    c='moed_aliya_lakvish'
    df[c] = pd.to_datetime(df[c], format="%Y-%m")
    df['kvish_ym'] = df[c].dt.strftime('%Y%m')
    df['sidra'] = df['mispar_rechev'].apply(lambda k : k[-2:])
    add_model(df)
    convert_make(df)
    return df

In [12]:
# merge with the master file with all vehicles
df = read_file('rechev.csv')

In [15]:
df_bak = df.copy()
#df = df.dropna(subset=['baalut_dt'])

In [16]:
revert = False
if revert:
    df = df_bak.copy()
    revert = False

In [24]:
yearfuel = df.query("year >= 2020").groupby(['kvish_ym', 'sug_delek_nm']).size().reset_index().rename(columns={0 : "count"})

In [25]:
# Count market share over time, by fuel type
counts=df.query("year >= 2020").groupby('kvish_ym')['sug_delek_nm'].value_counts(normalize=True)
counts.name='share'
counts = counts.reset_index()

In [143]:
big_makes

יונדאי      131416
טויוטה      111824
קיה          93971
מזדה         51116
סקודה        49445
מיצובישי     36342
סיאט         34508
סוזוקי       32255
Name: make, dtype: int64

In [46]:
# add mileage data
# source: https://data.gov.il/dataset/shinui_mivne

mivne = _read_file(datadir + 'shinui_mivne.csv', enc='UTF-8')
for c in ['mispar_rechev']:
    mivne[c] = mivne[c].astype(str)

In [145]:
dfm = pd.merge(df, mivne, how='left', on='mispar_rechev')

In [147]:
c='kilometer_test_aharon'
dfm[c] = dfm[c].clip(upper=500000)
dfm['avg_km_day'] = dfm[c] / dfm['days_on_road']

In [120]:
#dfm[dfm['kilometer_test_aharon'] > 7e5][['tozeret_nm', 'kinuy_mishari', 'year', 'kilometer_test_aharon', 'baalut']]
#dfm[dfm['kilometer_test_aharon'] > 7e5]['make'].value_counts().to_dict()

In [148]:
# find the popular models
dfm['makemodel'] = dfm['make'] + ' ' + dfm['kinuy_mishari']
degem_c = dfm['makemodel'].value_counts()
degem_big = degem_c[degem_c > 5000].index.to_list()

In [151]:
mkm=dfm.query('makemodel in @degem_big')[['avg_km_day', 'makemodel']].groupby('makemodel').median()
mkm.sort_values(by='avg_km_day', ascending=False).head(50)

                        avg_km_day
makemodel
רנו FLUENCE              83.679916
רנו GRAND COUPE          77.159360
רנו KANGOO               74.056812
סקודה RAPID              69.572314
סקודה NEW OCTAVIA        67.531488
טויוטה AURIS HYBRID      67.219465
טויוטה PRIUS PLUS        66.356410
קיה CEED                 62.835685
פולקסווגן JETTA          62.569800
טויוטה VERSO             61.070046
יונדאי ELANTRA           58.727024
סיטרואן C4 PICASSO       58.498414
סקודה SUPERB             56.716667
קיה FORTE                56.397075
יונדאי IONIQ HYBRID      56.346057
סקודה OCTAVIA            55.790805
יונדאי I25               54.651251
קיה NIRO                 54.176965
טויוטה COROLLA TS HSD    53.452998
אופל ASTRA               51.736054
שברולט CRUZE             50.922926
רנו MEGANE               49.537693
טויוטה AVENSIS           49.439812
סקודה YETI               49.187945
טויוטה COROLLA           49.013766
מיצובישי ATTRAGE         48.750958
פורד FIESTA              46.413043
רנו CLIO                 45.971505
סקודה KODIAQ             45.425848
שברולט MALIBU LT         44.269933
פולקסווגן PASSAT         44.228385
סובארו B4                43.132924
ניסאן X-TRAIL            42.463318
סיאט LEON                41.617927
סוזוקי BALENO            41.274062
הונדה CIVIC              41.131397
קרייזלר GRAND CHEROKEE   40.493747
מיצובישי OUTLANDER       39.813291
סובארו IMPREZA           39.032805
פורד FOCUS               38.552370
מזדה MAZDA 3             37.570782
טויוטה COROLLA HSD SDN   37.266712
דאציה SANDERO            36.968660
ניסאן MICRA              36.937895
יונדאי SONATA HYBRID     36.301308
סיאט ATECA               35.999294
סקודה KAROQ              35.657221
דאציה DUSTER             35.323245
סקודה FABIA              33.739763
הונדה JAZZ               33.624318

In [150]:
agg_own = dfm.query('year == 2019')[['kilometer_test_aharon', 'ownership_count_', 'make']].groupby('make').sum()
agg_own['avg_own_km'] = agg_own['kilometer_test_aharon'] / agg_own['ownership_count_']
agg_own.query("ownership_count_ > 1000").sort_values(by='avg_own_km')

           kilometer_test_aharon  ownership_count_    avg_own_km
make
מרצדס               1.511836e+08            8597.0  17585.621031
BMW                 1.862844e+08           10155.0  18344.105662
קאדילאק             2.079907e+07            1016.0  20471.525591
אופל                4.578808e+07            2035.0  22500.285995
אאודי               1.988237e+08            8344.0  23828.346596
רובר                4.666852e+07            1928.0  24205.661826
שברולט              3.155790e+08           11738.0  26885.241779
מזדה                5.875436e+08           21761.0  26999.841965
לקסוס               8.237460e+07            2951.0  27914.132497
קרייזלר             7.621575e+07            2694.0  28290.924647
פיאט                3.284440e+07            1127.0  29143.212955
הונדה               2.765888e+08            8815.0  31377.056721
סוזוקי              6.476155e+08           20100.0  32219.678109
מיצובישי            8.685652e+08           26760.0  32457.595067
פורד                5.228765e+07            1599.0  32700.218887
יונדאי              2.524994e+09           76847.0  32857.421890
פולקסווגן           1.541970e+08            4667.0  33039.853010
וולבו               9.259184e+07            2800.0  33068.513571
פיג'ו               4.059860e+08           12180.0  33332.185878
קיה                 1.916844e+09           57175.0  33525.920280
סיאט                5.440694e+08           15902.0  34213.898378
ניסאן               6.931218e+08           19722.0  35144.601156
MG                  6.049429e+07            1695.0  35689.847198
סיטרואן             2.179906e+08            5936.0  36723.485849
טויוטה              2.472621e+09           65864.0  37541.305220
סובארו              2.823018e+08            7080.0  39873.137429
סקודה               1.460872e+09           35480.0  41174.532159
רנו                 7.820278e+08           17474.0  44753.795525
דאציה               2.531014e+08            4991.0  50711.557003

In [108]:
agg_own = dfm.query('year == 2019')[['kilometer_test_aharon', 'ownership_days', 'ownership_count_', 'make', 'sidra']].groupby('make').sum()
agg_own['avg_km_day'] = agg_own['kilometer_test_aharon'] / agg_own['ownership_days']
agg_own.query("ownership_count_ > 1000").sort_values(by='avg_km_day')

           kilometer_test_aharon  ownership_days  ownership_count_  avg_km_day
make
מרצדס               1.511836e+08    5.147587e+06            8597.0   29.369796
הונדה               2.127396e+08    6.264860e+06            7017.0   33.957596
פולקסווגן           1.541970e+08    4.530011e+06            4667.0   34.038989
קאדילאק             2.079907e+07    5.898733e+05            1016.0   35.260234
אאודי               1.706779e+08    4.824871e+06            7353.0   35.374611
אופל                4.578808e+07    1.292292e+06            2035.0   35.431691
פיאט                3.284440e+07    9.184441e+05            1127.0   35.760914
לקסוס               8.237460e+07    2.281088e+06            2951.0   36.111984
BMW                 1.862844e+08    5.129713e+06           10155.0   36.314776
סוזוקי              6.476155e+08    1.755874e+07           20100.0   36.882805
שברולט              3.155790e+08    8.550404e+06           11738.0   36.908078
מזדה                5.875436e+08    1.551529e+07           21761.0   37.868669
וולבו               9.259184e+07    2.429342e+06            2800.0   38.113958
MG                  6.049429e+07    1.513145e+06            1695.0   39.979166
סיטרואן             2.179906e+08    5.427863e+06            5936.0   40.161405
פורד                5.228765e+07    1.250523e+06            1599.0   41.812640
רובר                4.666852e+07    1.106589e+06            1928.0   42.173315
סיאט                5.437040e+08    1.277877e+07           15890.0   42.547428
טויוטה              1.175416e+09    2.734202e+07           31630.0   42.989345
קרייזלר             7.621575e+07    1.751542e+06            2694.0   43.513524
פיג'ו               3.828269e+08    8.736740e+06           11289.0   43.818045
ניסאן               6.931218e+08    1.576296e+07           19722.0   43.971565
מיצובישי            8.685652e+08    1.960919e+07           26760.0   44.293787
קיה                 4.571925e+09    1.021518e+08          135060.0   44.756179
סובארו              2.823018e+08    6.274540e+06            7080.0   44.991637
יונדאי              1.838310e+09    3.673219e+07           49772.0   50.046283
סקודה               1.460872e+09    2.766395e+07           35480.0   52.807798
דאציה               2.531014e+08    4.569165e+06            4991.0   55.393355
רנו                 2.280063e+08    3.620050e+06            4655.0   62.984305

In [59]:
mkm = dfm[['kilometer_test_aharon', 'sidra']].groupby('sidra').mean()

In [56]:
dfm[['kilometer_test_aharon', 'mispar_rechev']].sort_values(by='kilometer_test_aharon', ascending=False)

         kilometer_test_aharon mispar_rechev
3324233              9660074.0      69165801
2769277              9620000.0      45437701
2030552              9503000.0      21658502
1957171              9124985.0       9124985
1749875              9123481.0       9123481
...                        ...           ...
3556209                    NaN      93173101
3556210                    NaN      93173601
3556211                    NaN      93174101
3556212                    NaN      93174301
3556213                    NaN      93175301

[3556214 rows x 2 columns]