In [1]:
import pandas as pd
import seaborn as sns

In [2]:
datadir = '../data/'

In [3]:
def _read_file(fname, enc='iso8859-8'):
    fd = open(fname, encoding=enc, errors='replace')
    df = pd.read_csv(fd, sep='|')
    return df

def add_model(df):
    df['model'] = df.apply(lambda x: '_'.join([x[y] for y in ['tozeret_cd', 'degem_cd', 'shnat_yitzur', 'sug_degem']]), axis=1)

def get_model_name(ns):
    names = pd.DataFrame(data={'model':ns})
    ret = pd.merge(names, models, how='left', on='model')[['tozeret_nm', 'kinuy_mishari']]
    return ret

In [ ]:
# source : https://data.gov.il/dataset/private-and-commercial-vehicles

#df = pd.read_csv('data/rechev-small.csv', encoding='iso-8859-1', sep='|')

def read_file(fname):
    fname = datadir + fname
    df = _read_file(fname)

    for c in ['mispar_rechev', 'degem_cd', 'tozeret_cd', 'shnat_yitzur']:
        df[c] = df[c].astype(str)

    df['test']= pd.to_datetime(df.mivchan_acharon_dt)
    df['test_expiry']= pd.to_datetime(df.tokef_dt)
    c='moed_aliya_lakvish'
    df[c] = pd.to_datetime(df[c], format="%Y-%m")    
    add_model(df)
    return df

In [46]:
vo = pd.read_csv(datadir + 'vehicle_ownership.csv', sep='|')

c='mispar_rechev'
vo[c] = vo[c].astype(str)

c='baalut_dt'
vo[c] = pd.to_datetime(vo[c], format="%Y%m")

In [111]:
oc = vo.groupby('mispar_rechev').size()
just1 = oc[oc == 1]
just1.name='ownership_count'
notjust1 = oc[~(oc == 1)]
notjust1.name='ownership_count_'

In [88]:
print((len(just1), len(notjust1), len(no)))

(994961, 625083, 1620044)

In [107]:
mult_own = vo.merge(notjust1, how='right', left_on='mispar_rechev', right_index=True)

In [109]:
nownerships = mult_own.groupby('mispar_rechev').agg({'baalut_dt' : lambda x: x.nsmallest(2).iloc[-1], 'baalut' : 'count'})
nownerships.rename(columns={'baalut' : 'ownership_count'}, inplace=True)
nownerships.reset_index(inplace=True)
nownerships.sort_values(by='ownership_count', ascending=False)

               baalut_dt  ownership_count
mispar_rechev
74011401      2019-09-01               19
46570501      2020-10-01               18
15330101      2018-05-01               18
34715201      2018-01-01               18
33462601      2019-03-01               17
...                  ...              ...
59503301      2020-07-01                2
24748901      2017-09-01                2
59503101      2019-03-01                2
24749002      2022-08-01                2
22802101      2021-04-01                2

[625083 rows x 2 columns]

In [118]:
single_own = vo.merge(just1, how='right', left_on='mispar_rechev', right_index=True).drop(columns=['baalut'])

In [122]:
nownerships = pd.concat([nownerships, single_own])

In [125]:
df = read_file('rechev.csv')

In [126]:
df = pd.merge(df, nownerships, on='mispar_rechev', how='left')

In [127]:
df.iloc[2073010].to_dict()

{'mispar_rechev': '16088601',
 'tozeret_cd': '481',
 'sug_degem': 'P',
 'tozeret_nm': 'יונדאי קוריאה',
 'degem_cd': '182',
 'degem_nm': 'C851C',
 'ramat_gimur': 'PREMIUM',
 'ramat_eivzur_betihuty': 2.0,
 'kvutzat_zihum': 3.0,
 'shnat_yitzur': '2018',
 'degem_manoa': 'G4LE',
 'mivchan_acharon_dt': '2023-01-16',
 'tokef_dt': '2024-01-16',
 'baalut': 'פרטי',
 'misgeret': 'KMHC851CGJU063354',
 'tzeva_cd': 93,
 'tzeva_rechev': 'כסוף כהה',
 'zmig_kidmi': '225/45R17',
 'zmig_ahori': '225/45R17',
 'sug_delek_nm': 'בנזין',
 'horaat_rishum': 170007.0,
 'moed_aliya_lakvish': Timestamp('2018-01-01 00:00:00'),
 'kinuy_mishari': 'IONIQ HYBRID',
 'test': Timestamp('2023-01-16 00:00:00'),
 'test_expiry': Timestamp('2024-01-16 00:00:00'),
 'model': '481_182_2018_P',
 'baalut_dt': Timestamp('2021-06-01 00:00:00'),
 'ownership_count': 2.0}

In [134]:
df_bak = df.copy()
df = df.dropna(subset=['baalut_dt'])

In [135]:
df.iloc[207510].to_dict()

{'mispar_rechev': '12137803',
 'tozeret_cd': '590',
 'sug_degem': 'P',
 'tozeret_nm': 'מיצובישי יפן',
 'degem_cd': '227',
 'degem_nm': 'GK1WXTFUL2B',
 'ramat_gimur': 'INSTYLE',
 'ramat_eivzur_betihuty': 4.0,
 'kvutzat_zihum': 15.0,
 'shnat_yitzur': '2022',
 'degem_manoa': '4B40',
 'mivchan_acharon_dt': '2022-08-18',
 'tokef_dt': '2023-08-17',
 'baalut': 'פרטי',
 'misgeret': 'JA4ASWAA2NZ300936',
 'tzeva_cd': 80,
 'tzeva_rechev': 'שנהב לבן',
 'zmig_kidmi': 'P225/55R18',
 'zmig_ahori': 'P225/55R18',
 'sug_delek_nm': 'בנזין',
 'horaat_rishum': 212023.0,
 'moed_aliya_lakvish': Timestamp('2022-08-01 00:00:00'),
 'kinuy_mishari': 'ECLIPSE CROSS',
 'test': Timestamp('2022-08-18 00:00:00'),
 'test_expiry': Timestamp('2023-08-17 00:00:00'),
 'model': '590_227_2022_P',
 'baalut_dt': Timestamp('2022-08-01 00:00:00'),
 'ownership_count': 1.0}

In [167]:
c = 'days_to_first_trade'
df[c] = ((df['baalut_dt'] - df['moed_aliya_lakvish']).dt.total_seconds())/(24*60*60)
df.dropna(subset=[c], inplace=True)
df[c] = df[c].astype(int)

In [168]:
df.dtypes

mispar_rechev                    object
tozeret_cd                       object
sug_degem                        object
tozeret_nm                       object
degem_cd                         object
degem_nm                         object
ramat_gimur                      object
ramat_eivzur_betihuty           float64
kvutzat_zihum                   float64
shnat_yitzur                     object
degem_manoa                      object
mivchan_acharon_dt               object
tokef_dt                         object
baalut                           object
misgeret                         object
tzeva_cd                          int64
tzeva_rechev                     object
zmig_kidmi                       object
zmig_ahori                       object
sug_delek_nm                     object
horaat_rishum                   float64
moed_aliya_lakvish       datetime64[ns]
kinuy_mishari                    object
test                     datetime64[ns]
test_expiry              datetime64[ns]
model                            object
baalut_dt                datetime64[ns]
ownership_count                 float64
time_to_first_trade             float64
days_to_first_trade               int64
dtype: object

In [169]:
traded = df.drop(index=df[df['days_to_first_trade'] == 0].index)

In [170]:
cols = ['mispar_rechev', 'sug_degem', 'tozeret_nm',
       'shnat_yitzur', 'mivchan_acharon_dt', 'tokef_dt',
       'baalut', 'sug_delek_nm', 'moed_aliya_lakvish',
       'kinuy_mishari', 'test', 'test_expiry', 'model', 'baalut_dt',
       'ownership_count', 'days_to_first_trade']
traded[cols].to_csv(datadir + 'traded.csv', index=False)