In [10]:
from electric_meter import *
from datetime import datetime
from IPython.display import HTML

In [2]:
meter = read_data('data/meter.csv')

costs, k, d = compute_costs(meter)

In [3]:
result = style_table(costs)

result.set_table_styles([{'selector' : '',
                            'props' : 'border: 5px solid black; border-radius: 2px'}])

In [4]:
display(result)