In [1]:
from electric_meter import *
from datetime import datetime
from IPython.display import HTML

In [2]:
meter = read_data('data/meter.csv')

In [3]:
#meter = read_data('data/meter.csv')

costs, k, d = compute_costs(meter)

In [4]:
#costs.sort_index(ascending=True, inplace=True)

#from datetime import datetime
#costs.index = pd.to_datetime(costs.index).to_series().dt.strftime('%B %Y')

In [5]:
costs

,no_discount,pazgas_daytime,pazgas_unlimited,pazgas_weekend,pazgas_nighttime,amisragas_unlimited,electra_power,electra_hitec
timeperiod,,,,,,,,
פברואר 2023,361.867363,342.149977,343.773995,355.161377,351.456975,338.345984,343.773995,342.838494
מרץ 2023,893.244672,837.334342,848.582438,869.026290,875.452102,835.183768,848.582438,846.394499
אפריל 2023,1542.413667,1418.802158,1465.292983,1503.203855,1516.241981,1442.156778,1465.292983,1449.564256
מאי 2023,907.657708,852.874994,862.274822,885.840499,888.610310,848.659957,862.274822,861.367179
יוני 2023,1416.049182,1327.340830,1345.246723,1366.584418,1372.917636,1324.005985,1345.246723,1332.972647
יולי 2023,1901.456399,1787.293462,1806.383579,1845.581001,1854.090353,1777.861733,1806.383579,1802.029223
אוגוסט 2023,1844.831204,1731.446921,1752.589644,1797.289125,1796.429241,1724.917175,1752.589644,1746.113631

In [6]:
result = style_table(costs)
display(result)

In [8]:
if False:
    cols = [costs.columns[i] for i in [0,1,5, 6]]
    display(style_table(costs[cols].copy()))

In [25]:
meter['month'] = meter.index.month

In [ ]:
v = meter.query("timeperiod == '20230601'")

#meter.groupby('month').mean(numeric_only=True).plot()
meter.groupby('hour').mean(numeric_only=True).plot()

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Create a pivot table for heatmap
heatmap_data = meter.pivot_table(index="month", columns="hour", values="consumption", aggfunc="sum")

# Create the heatmap using seaborn
plt.figure(figsize=(10, 6))
sns.heatmap(heatmap_data, annot=False, cmap="YlGnBu", fmt="")
plt.title("Consumption Heatmap")
plt.xlabel("Hour")
plt.ylabel("Month")
plt.show()

In [41]:
meter.tail()

,consumption,date,wday,hour,wday_name,timeperiod,month
time,,,,,,,
2023-08-31 19:00:00,9.444,2023-08-31,3,19,Thursday,20230801,8
2023-08-31 20:00:00,6.439,2023-08-31,3,20,Thursday,20230801,8
2023-08-31 21:00:00,2.266,2023-08-31,3,21,Thursday,20230801,8
2023-08-31 22:00:00,2.511,2023-08-31,3,22,Thursday,20230801,8
2023-08-31 23:00:00,2.347,2023-08-31,3,23,Thursday,20230801,8