In [1]:
from electric_meter import *
from datetime import datetime
from IPython.display import HTML

In [2]:
meter = read_data('data/meter.csv')

In [3]:
#meter = read_data('data/meter.csv')

costs, k, d = compute_costs(meter)

In [4]:
#costs.sort_index(ascending=True, inplace=True)

#from datetime import datetime
#costs.index = pd.to_datetime(costs.index).to_series().dt.strftime('%B %Y')

In [5]:
costs

,no_discount,pazgas_daytime,pazgas_unlimited,pazgas_weekend,pazgas_nighttime,amisragas_unlimited,electra_power,electra_hitec
timeperiod,,,,,,,,
יולי 2023,576.254149,546.746881,547.441441,558.850694,556.344554,538.797629,547.441441,546.635714
אוגוסט 2023,430.852859,406.544369,409.310216,416.801322,418.301487,402.847423,409.310216,408.417303

In [6]:
result = style_table(costs)

#result.set_table_styles([{'selector' : '',                            'props' : 'border: 5px solid black; border-radius: 2px'}])
display(result)

In [14]:
cols = [costs.columns[i] for i in [0,1,5, 6]]
display(style_table(costs[cols].copy()))